@model IEnumerable<LMS.Models.Lecturer>

@{
    ViewData["Title"] = "AdminLecture";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    function showDetails(image, name, phone, email, username) {
        // Cập nhật nội dung của modal với thông tin chi tiết
        document.getElementById('detailImage').src = "data:image;base64," + image;
        document.getElementById('detailName').innerText = name;
        document.getElementById('detailPhone').innerText = phone;
        document.getElementById('detailEmail').innerText = email;
        document.getElementById('detailUsername').innerText = username;
    }
    function closeModal() {
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        myModal.hide();
    }
</script>
<!--Big modal -->
<div class="modal modal-xl fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Details Lecturer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex">
                <div class="col-2 g-2" style="box-shadow: -1px 1px 19px -7px; border-radius: 6px">
                    <img src="data:image;base64," class="img-fluid w-500px rounded shadow-lg" id="detailImage">
                </div>
                <form class="col row ps-3 g-3">
                    <div class="col-md-5">
                        <h6 class="form-label">Name: <span class="form-control" id="detailName"></span></h6>
                    </div>
                    <div class="col-md-4">
                        <h6 class="form-label">Phone: <span class="form-control" id="detailPhone"></span></h6>
                    </div>
                    <div class="col-md-3">
                        <h6 class="form-label">Email: <span class="form-control" id="detailEmail"></span></h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="form-label">Username: <span class="form-control" id="detailUsername"></span></h6>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal()">Close</button> *@
                <!-- Các nút khác (nếu cần) -->
            </div>
        </div>
    </div>
</div>
<!-- Page main content START -->
<div class="page-content-wrapper border">
    <!-- Title -->
    <div class="row">
        <div class="col-12">
            <h1 class="h3 mb-2 mb-sm-0">Lecturer List</h1>
        </div>
    </div>

    <div class="card bg-transparent">

        <!-- Card header START -->
        <div class="card-header bg-transparent border-bottom px-0">
            <!-- Search and select START -->
            <div class="row g-3 align-items-center justify-content-between">

                <!-- Search bar -->
                <div class="col-md-8">
                    <form class="rounded position-relative">
                        <input class="form-control bg-transparent" type="search" placeholder="Search" aria-label="Search">
                        <button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset" type="submit">
                            <i class="fas fa-search fs-6 "></i>
                        </button>
                    </form>
                </div>

                <div class="col-md-2">
                    <a type="button" href="@Url.Action("AddAccount", "Admin")" class="btn btn-info mb-0">Add New Lecturer</a>
                </div>
            </div>
            <!-- Search and select END -->
        </div>
        <!-- Card header END -->
        <!-- Card body START -->
        <div class="card-body px-0">

            <!-- Tabs content START -->
            <div class="tab-content">

                <!-- Tabs content item START -->
                <!-- Tabs content item END -->
                <!-- Tabs content item START -->
                <div class="tab-pane fade show active" id="nav-html-tab-1">
                    <div class="table-responsive border-0">
                        <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                            <!-- Table head -->
                            <thead>
                                <tr>
                                    <th scope="col" class="text border-0 rounded-start">Name</th>
                                    <th scope="col" class="text border-0 rounded-start">Phone</th>
                                    <th scope="col" class="border-0 rounded-end">Action</th>
                                </tr>
                            </thead>

                            <!-- Table body START -->
                            <tbody>
                                @foreach (var items in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="data:image;base64,@items.Image" alt="Admin Image" class="avatar avatar-md rounded-circle" />
                                            @items.Name
                                        </td>
                                        <td>
                                            @items.Phone
                                        </td>
                                        <td>
                                            <button class="btn btn-light btn-round me-1 mb-1 mb-md-0"
                                                    data-bs-toggle="modal" data-bs-placement="top" title="Detail"
                                                    data-bs-target="#exampleModal" onclick="showDetails('@items.Image','@items.Name', '@items.Phone', '@items.Email', '@items.Username')">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                            <a class="btn btn-light btn-round mb-0" asp-action="Delete" asp-route-id="@items.Id">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <!-- Table body END -->
                        </table>
                    </div>
                </div>
                <!-- Tabs content item END -->

            </div>
            <!-- Tabs content END -->
        </div>
        <!-- Card body END -->
        <!-- Card footer START -->
        <div class="card-footer bg-transparent pt-0 px-0">
            <!-- Pagination START -->
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <!-- Content -->
                <p class="mb-0 text-center text-sm-start">
                    Showing 1 to 8 of 20 entries
                </p>
                <!-- Pagination -->
                <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                    <ul class="pagination pagination-sm pagination-primary-soft mb-0 pb-0 px-0">
                        <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                        <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                        <li class="page-item mb-0">
                            <a class="page-link" href="#">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Pagination END -->
        </div>
        <!-- Card footer END -->
    </div>
</div>
<!-- Page main content END -->
